.flash-message {
	  position: absolute;
	  right: 0px;
	  top: 50px;
}

html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.middle {
	flex: 1 0 auto;
	margin-left: 15%;
	margin-right: 15%;
}

.header {
	background-color: rgb(231, 253, 198);
}

.footer {
	flex-shrink: 0;
	background-color: rgb(231,253,198);
}

