{% extends "base.html" %}
{% block title %}Home{% endblock %}



{% block header %}

{% include 'main_header.html' %}


{% endblock %}

{% block middle %}

<div class="text-center jumbotron">
<h1>Welcome to TyM</h1>
<h3>An Application that enables you to generate and test models</h3>

<div>
TyM (pronounced as Tim) is a tool to test Machine Learning Model.
<p><b>Problem Statement: </b>
A software for generation and testing of ML models according to user input. A software for generation and testing of ML models according to user input.</p>
</div>
</div>

<div class="text-justify jumbotron">
<p>
TyM: Test Your Model has two major functions:
	<ul>
		<li>Generate Model</li>
		<li>Test Model</li>
	</ul>
</p>

<p>
In generate model, you have to provide information related to the model you want us to generate and also the training data on which to train the machine learning model. We will do the magic and generate ML models for you. You will be able to view and download your models.
</p>

</div>

{% endblock %}

{% block footer %}
{% endblock %}
