{% extends "base.html" %}
{% block title %}History{% endblock %}

{% block header %}
{% include 'main_header.html' %}
{% endblock %}

{% block middle %}
<h1>{{ model['model_name'] }}</h1>

<p><b>Algorithm: {{ model['model_algo'] }} </b></p>

<p>Performance measures: {{ model['performance_measure'] }}</p>

<p>Download pickle file:
    <a href="{{ url_for('static', filename='pickle/' + session['username'] + '/' + model['filename']) }}">
    {{ model['filename'] }}</a>

{% endblock %}

{% block footer %}
{% endblock %}
